Source: libpam-ssh
Section: admin
Priority: optional
Maintainer: Jens Peter Secher <jps@debian.org>
Build-Depends:
 debhelper (>= 9.0.0), autotools-dev, dh-autoreconf, libtool,
 libssl-dev, libpam-dev,
 libpam-runtime,
 openssh-client
Standards-Version: 3.9.3
Vcs-Hg: http://hg.debian.org/hg/collab-maint/libpam-ssh
Homepage: http://pam-ssh.sourceforge.net

Package: libpam-ssh
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends}
Recommends: openssh-client
Description: Authenticate using SSH keys
 This pluggable authentication module (PAM) provides single sign-on
 using secure shell (SSH) keys:
 - during authentication, the user types a SSH passphrase and is authenticated
   if the passphrase successfully decrypts the user's SSH private keys;
 - in session phase, a ssh-agent process is started and decrypted keys are
   added, and thus the user can SSH to other hosts that accept key
   authentication without typing more passwords for the entire session.
