#!/usr/bin/make -f
## debian/rules for libpam-ssh.

%:
	dh $@ --with autoreconf

override_dh_auto_install:
	dh_auto_install
	rm -f debian/libpam-ssh/lib/security/pam_ssh.la
	install -D -m 644 debian/pam-auth-update.silent-ssh-single-sign-on \
		debian/libpam-ssh/usr/share/pam-configs/silent-ssh-single-sign-on

# EOF
