#!/usr/bin/make -f
## debian/rules for libpam-ssh.

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --with-pam-dir=/lib/$(DEB_HOST_MULTIARCH)/security

override_dh_auto_install:
	dh_auto_install --destdir debian/tmp/

# EOF
